
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce {
    display:inline-block;
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.container-fluid.custom-bg {
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
}


footer {
    background-color: #f0f0f0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.project-container {
    background-color: #000000;
    color: white;
    position: absolute;
    width: 100%;
    height: 400px;
    margin-top: -150px;
}

.project-text {
    font-weight: 300;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    background-color: #f8f7f7;
    transform: translateY(-10px);
}

@keyframes slideIcons {
    from {
        transform: translateY(-50px)
    }
    to {
        transform: translateY(0);
    }
}

.icons {
    height: 25px;
    margin: 0 8px;
    opacity: 0;
    transform: translateY(-70px);
    transition:opacity 1s ease, transform 1s ease;
    /* animation: slideIcons;*/
    /*animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1; */
}

.icons.animate {
    opacity: 1;
    transform: translateY(0);
}

footer {
    margin-top: auto;
}

form input,
form textarea {
    background-color: #000;
    color: #fff;
    border: #fff;
    width: 100%;
}

form input::placeholder,
form textarea::placeholder {
    color: #ffffff;
    font-style: italic;
}

form button {
    background-color: #000;
    color: #fff;
    border: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #101010;
}

.input-col {
    height:30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    width: 75%;
}

.logos-slide {
    display: inline-block;
    animation: 50s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 50px;
}


